body {
    background-color: aqua;
}

a {
    text-decoration: none;
    text-decoration-color: red;
}

.alcim{ 
    padding:20px;
    background-color: red; 
}

div {
    border:1px solid blue;
    margin-top: 10px;
    margin-bottom: 10px;
}