body {
    background-color: aqua;
}

a {
    text-decoration: none;
    color: red;
}

.alcim{ 
    border-bottom:20px dashed red; 
}

div {
    border:1px solid blue;
    margin-top: 10px;
    margin-bottom: 10px;
}